<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSScreenRecordingUsageDescription</key>
	<string>Need to screen record</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>We need access to capture screen events.</string>
</dict>
</plist>
